html,
span,
p,
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Heebo', sans-serif !important;
}

.container-fluid {
	position: absolute;
	height: 40vh;
	left: 0px;

	background: linear-gradient(180deg, #ff0f7b 31.98%, #f89b29 100%);
}

.navbar-light {
	background-color: #ff0f7b !important;
}

.nav-link {
	padding: 5px !important;
	width: fit-content;
	float: right;

	color: #ffff !important;
}

.nav-link:hover {
	color: #c4c4c4 !important;
}

@media only screen and (min-width: 992px) {
	.nav-link {
		margin-inline: 5px;
	}
}

/* ACCORDION */
.accordion-header {
	border: 2px solid #000 !important;
	border-radius: 23px;
}

.accordion-item,
.accordion-button {
	border-radius: 23px !important;
}
/* EOF ACCORDION */

.react-date-picker__wrapper {
	border: 0px !important;
	padding: 0.282rem 0.7rem;
}

.leaflet-popup-content {
	width: 600px !important;
}
